[user]
	name = arlogb
	email = arlobryer@gmail.com
[core]
	excludesfile = /Users/arlogb/.gitignore_global
[gui]
	recentrepo = /Users/arlogb/TESTING/backend
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
