[user]
	name = "Arlo Bryer"
	email = arlobryer@gmail.com
[core]
	excludesfile = /Users/abryer/.gitignore
	autocrlf = input
	editor = vim
[gui]
	recentrepo = /Users/abryer/TESTING/backend
[alias]
	lol = log --color --graph --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
        loga = log --color --pretty=format:"%ad:%an:%d:%B" --date=short --reverse --all --since=2.months.ago
        l = log --color
        s = status
        co = checkout
        c = commit
        a = add
        ca = commit -a
        p = pull
        d = diff
[color]
	ui = auto
	diff = auto
        interactive = auto
        status = auto
[push]
	default = simple
[branch]
	autosetuprebase = always
